$color-red: #D0021B;
$color-red-line: rgba(208, 2, 27, 0.5);
$color-bg: #FBFBFB;
$color-line: #DADADA;
$shadow: 1px 1px 0 #FFFFFF;
$transition-time: 0.25s;
$btn-color-red: #F32038;
$btn-color-gray: #9B9B9B;
$selection-color: rgba($color-red, 0.15);
$yallow: #FF9D00;
$box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.22);
$border-radius-lg: 8px;
$border-radius-sm: 4px;

html,
body {
  width: 469px;
  height: 348px;
  padding: 0;
  margin: 0;
  background-color: $color-bg;
  -webkit-font-smoothing: antialiased;
  font-family: PingFangTC, "Microsoft JhengHei", 微軟正黑體, Helvetica, Arial, Verdana, sans-serif;
  font-weight: 300;
}

* {
  &::selection {
    background-color: $selection-color;
  }
}

textarea,
input {
  background: #FFFFFF;
  border: 1px solid $color-line;
  box-shadow: $box-shadow;
  border-radius: $border-radius-lg;
  outline: none;
  display: block;
  width: 100%;
  padding: 0 6px;
}

textarea {
  padding: 4px 6px;
}

input {
  height: 26px;
  font-size: 14px;
  font-weight: 400;
}

label {
  font-size: 12px;
  font-weight: 700;
  color: #9B9B9B;
  text-shadow: $shadow;
}


footer {
  position: absolute;
  bottom: 0;
  z-index: 10;
  pointer-events: none;
}

.list,
.editor {
  position: absolute;
  display: block;
  background-color: $color-bg;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(348px - 31px);
}

.list {
  overflow-y: auto;
  user-select: none;

  // &::-webkit-scrollbar {
  //   width: 10px;
  // }
  // &::-webkit-scrollbar-track {
  //   background: transparent;
  // }
  // &::-webkit-scrollbar-thumb {
  //   background: $yallow;
  //   opacity: 0.5;
  //   border-radius: 10px;
  //   border: 3px solid $color-bg;
  // }
}

.editor {
  padding: 10px;
}

.add-script-item,
.script-item {
  width: calc(100% - 20px);
  height: 40px;
  margin: 4px 10px;
  position: relative;
  display: inline-block;
  border: 1px dashed $yallow;;
  border-radius: $border-radius-lg;
  background: #FFFFFF;
  box-sizing: border-box;
  transition: $transition-time;

  &:first-child {
    margin-top: 10px;
  }

  .script-title {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: absolute;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 35px 0 10px;

    .title {
      width: 100%;
      color: $yallow;
      font-size: 14px;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: 700;
    }
  }

  .code-icon {
    position: absolute;
    pointer-events: none;
    top: 7px;
    right: 8px;
  }

  .mask {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.80);
    opacity: 0;
    position: absolute;
    transition: $transition-time;
    border-radius: $border-radius-lg;

    .half {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0.35;
      position: absolute;
      cursor: pointer;
      transition: $transition-time;

      &:nth-child(3) {
        margin-left: 50%;
      }

      &:hover {
        opacity: 1;
      }
    }

    .full {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }

  .center-line {
    width: 1px;
    height: 23px;
    background-image: linear-gradient($color-red-line 60%, transparent 0%);
    background-position: right;
    background-size: 1px 5px;
    background-repeat: repeat-y;
    // border: 1px dashed $color-red-line;
    position: absolute;
    left: 50%;
    top: 8px;
  }

  &:hover {
    border: 1px solid $color-red-line;
    box-shadow: 0 0 5px 0 rgba(208, 2, 27, 0.35);

    .mask {
      opacity: 1;
    }
  }
}

.add-script-item {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-color: $yallow;
  opacity: 0.5;

  .add-icon {
    opacity: 0.3;
    pointer-events: none;
  }

  &:hover {
    .add-icon {
      opacity: 1;
    }
  }
}

.input-title {
  width: 229px;
  height: 26px;
  margin-bottom: 8px;
  display: inline-block;
  color: $yallow;
  border: 1px dashed $color-red-line;
  font-weight: 700;

  &::placeholder {
    font-weight: 300;
    color:rgba(80, 80, 80, 0.35);
  }
}

.textarea-script {
  width: 449px;
  height: 244px;

  .CodeMirror-vscrollbar,
  .CodeMirror-hscrollbar {
    outline: none;
  }

  .CodeMirror {
    height: 264px;
    border: 1px solid $color-line;
    box-shadow: $box-shadow;
    border-radius: $border-radius-lg;
    padding: 0 6px;
    border: 1px dashed $color-red-line;
  }
  .CodeMirror-focused .CodeMirror-selected,
  .CodeMirror-line::selection,
  .CodeMirror-line > span::selection,
  .CodeMirror-line > span > span::selection {
    background: $selection-color !important;
  }
}

.btns {
  position: absolute;
  display: inline-flex;
}

button {
  margin-left: 10px;
  width: 65px;
  height: 26px;
  border-radius: $border-radius-sm;
  background-color: white;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  transition: $transition-time;

  &.red {
    border: 1px solid $btn-color-red;
    color: $btn-color-red;

    &:hover {
      background-color: $btn-color-red;
      color: white;
    }
  }

  &.gray {
    border: 1px solid $btn-color-gray;
    color: $btn-color-gray;

    &:hover {
      background-color: $btn-color-gray;
      color: white;
    }
  }

  &.del,
  &.format {
    width: 26px;
    height: 26px;
    padding: 0;
    border: 0;
    background: transparent;
    fill: $color-line;
    margin-left: 9px;

    &:hover:not(.format) {
      fill: $btn-color-red;
    }
    &:hover:not(.del) {
      fill: $yallow;
    }
  }
}


.drop-mask {
  pointer-events: none;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
}