$color-red: #D0021B;
$color-red-line: rgba(208, 2, 27, 0.5);
$color-bg: #FBFBFB;
$color-line: #DADADA;
$shadow: 1px 1px 0 #FFFFFF;
$transition-time: 0.25s;
$btn-color-red: #F32038;
$btn-color-gray: #9B9B9B;
$selection-color: rgba($color-red, 0.15);

html,
body {
  width: 469px;
  height: 348px;
  padding: 0;
  margin: 0;
  background-color: $color-bg;
  -webkit-font-smoothing: antialiased;
  font-family: "PingFangTC-Regular", "Heiti Regular", sans-serif;
  font-weight: 200;
}

* {
  &::selection {
    background-color: $selection-color;
  }
}

textarea,
input {
  background: #FFFFFF;
  border: 1px solid $color-line;
  box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.09);
  border-radius: 2px;
  outline: none;
  display: block;
  width: 100%;
  padding: 0 6px;
}

textarea {
  padding: 4px 6px;
}

input {
  height: 26px;
  font-size: 14px;
  font-weight: 200;
}

label {
  font-size: 12px;
  font-weight: 700;
  color: #9B9B9B;
  text-shadow: $shadow;
}


footer {
  position: absolute;
  bottom: 0;
  z-index: 10;
}

.list,
.editor {
  position: absolute;
  display: block;
  background-color: $color-bg;
  top: 0;
  left: 0;
  width: 100%;
  height: 310px;
  padding: 15px;
}

.list {
  margin: -10px;
}

.script-item {
  width: 133px;
  height: 80px;
  margin: 10px;
  position: relative;
  display: inline-block;
  border: 1px dashed $color-red-line;
  border-radius: 3px;
  background: #FFFFFF;
  box-sizing: border-box;
  transition: $transition-time;

  .script-title {
    width: 133px - 2 - 10;
    position: absolute;
    pointer-events: none;
    color: #F5A623;
    font-size: 14px;
    line-height: 80px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
    padding: 0 5px;
  }

  .codeIcon {
    position: absolute;
    pointer-events: none;
    top: 7px;
    right: 8px;
  }

  .mask {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.80);
    opacity: 0;
    position: absolute;
    transition: $transition-time;

    .half {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0.35;
      position: absolute;
      cursor: pointer;
      transition: $transition-time;

      &:nth-child(3) {
        margin-left: 50%;
      }

      &:hover {
        opacity: 1;
      }
    }

    .full {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }

  .center-line {
    width: 1px;
    height: 59px;
    background-image: linear-gradient($color-red-line 60%, transparent 0%);
    background-position: right;
    background-size: 1px 5px;
    background-repeat: repeat-y;
    // border: 1px dashed $color-red-line;
    position: absolute;
    left: 50%;
    top: 9px;
  }

  &:hover {
    border: 1px solid $color-red-line;
    box-shadow: 0 0 10px 0 rgba(208,2,27,0.15);

    .mask {
      opacity: 1;
    }
  }
}

.input-title {
  width: 228px;
  height: 26px;
  margin-bottom: 10px;
  display: inline-block;
}

.textarea-script {
  width: 439px;
  height: 244px;

  .CodeMirror-vscrollbar,
  .CodeMirror-hscrollbar {
    outline: none;
  }

  .CodeMirror {
    height: 244px;
    border: 1px solid $color-line;
    box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.09);
    border-radius: 2px;
    padding: 0 6px;
  }
  .CodeMirror-focused .CodeMirror-selected,
  .CodeMirror-line::selection,
  .CodeMirror-line > span::selection,
  .CodeMirror-line > span > span::selection {
    background: $selection-color !important;
  }
}

.btns {
  position: absolute;
  display: inline-flex;
}

button {
  margin-left: 10px;
  width: 77px;
  height: 26px;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  transition: $transition-time;

  &.red {
    border: 1px solid $btn-color-red;
    color: $btn-color-red;

    &:hover {
      background-color: $btn-color-red;
      color: white;
    }
  }

  &.gray {
    border: 1px solid $btn-color-gray;
    color: $btn-color-gray;

    &:hover {
      background-color: $btn-color-gray;
      color: white;
    }
  }

  &.del {
    width: 26px;
    height: 26px;
    padding: 0;
    border: 0;
    background: transparent;
    fill: $color-line;

    &:hover {
      fill: $btn-color-red;
    }
  }
}