/* BASICS */
.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: monospace;
  height: 300px;
  color: black;
  direction: ltr; }

/* PADDING */
.CodeMirror-lines {
  padding: 4px 0;
  /* Vertical padding around content */ }

.CodeMirror pre {
  padding: 0 4px;
  /* Horizontal padding of content */ }

.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  background-color: white;
  /* The little square between H and V scrollbars */ }

/* GUTTER */
.CodeMirror-gutters {
  border-right: 1px solid #ddd;
  background-color: #f7f7f7;
  white-space: nowrap; }

.CodeMirror-linenumber {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  color: #999;
  white-space: nowrap; }

.CodeMirror-guttermarker {
  color: black; }

.CodeMirror-guttermarker-subtle {
  color: #999; }

/* CURSOR */
.CodeMirror-cursor {
  border-left: 1px solid black;
  border-right: none;
  width: 0; }

/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver; }

.cm-fat-cursor .CodeMirror-cursor {
  width: auto;
  border: 0 !important;
  background: #7e7; }

.cm-fat-cursor div.CodeMirror-cursors {
  z-index: 1; }

.cm-fat-cursor-mark {
  background-color: rgba(20, 255, 20, 0.5);
  -webkit-animation: blink 1.06s steps(1) infinite;
  animation: blink 1.06s steps(1) infinite; }

.cm-animate-fat-cursor {
  width: auto;
  border: 0;
  -webkit-animation: blink 1.06s steps(1) infinite;
  animation: blink 1.06s steps(1) infinite;
  background-color: #7e7; }

@-webkit-keyframes blink {
  0% { }
  50% {
    background-color: transparent; }
  100% { } }

@keyframes blink {
  0% { }
  50% {
    background-color: transparent; }
  100% { } }

/* Can style cursor different in overwrite (non-insert) mode */
.cm-tab {
  display: inline-block;
  text-decoration: inherit; }

.CodeMirror-rulers {
  position: absolute;
  left: 0;
  right: 0;
  top: -50px;
  bottom: -20px;
  overflow: hidden; }

.CodeMirror-ruler {
  border-left: 1px solid #ccc;
  top: 0;
  bottom: 0;
  position: absolute; }

/* DEFAULT THEME */
.cm-s-default .cm-header {
  color: blue; }

.cm-s-default .cm-quote {
  color: #090; }

.cm-negative {
  color: #d44; }

.cm-positive {
  color: #292; }

.cm-header, .cm-strong {
  font-weight: bold; }

.cm-em {
  font-style: italic; }

.cm-link {
  text-decoration: underline; }

.cm-strikethrough {
  text-decoration: line-through; }

.cm-s-default .cm-keyword {
  color: #708; }

.cm-s-default .cm-atom {
  color: #219; }

.cm-s-default .cm-number {
  color: #164; }

.cm-s-default .cm-def {
  color: #00f; }

.cm-s-default .cm-variable-2 {
  color: #05a; }

.cm-s-default .cm-variable-3, .cm-s-default .cm-type {
  color: #085; }

.cm-s-default .cm-comment {
  color: #a50; }

.cm-s-default .cm-string {
  color: #a11; }

.cm-s-default .cm-string-2 {
  color: #f50; }

.cm-s-default .cm-meta {
  color: #555; }

.cm-s-default .cm-qualifier {
  color: #555; }

.cm-s-default .cm-builtin {
  color: #30a; }

.cm-s-default .cm-bracket {
  color: #997; }

.cm-s-default .cm-tag {
  color: #170; }

.cm-s-default .cm-attribute {
  color: #00c; }

.cm-s-default .cm-hr {
  color: #999; }

.cm-s-default .cm-link {
  color: #00c; }

.cm-s-default .cm-error {
  color: #f00; }

.cm-invalidchar {
  color: #f00; }

.CodeMirror-composing {
  border-bottom: 2px solid; }

/* Default styles for common addons */
div.CodeMirror span.CodeMirror-matchingbracket {
  color: #0b0; }

div.CodeMirror span.CodeMirror-nonmatchingbracket {
  color: #a22; }

.CodeMirror-matchingtag {
  background: rgba(255, 150, 0, 0.3); }

.CodeMirror-activeline-background {
  background: #e8f2ff; }

/* STOP */
/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */
.CodeMirror {
  position: relative;
  overflow: hidden;
  background: white; }

.CodeMirror-scroll {
  overflow: scroll !important;
  /* Things will break if this is overridden */
  /* 30px is the magic margin used to hide the element's real scrollbars */
  /* See overflow: hidden in .CodeMirror */
  margin-bottom: -30px;
  margin-right: -30px;
  padding-bottom: 30px;
  height: 100%;
  outline: none;
  /* Prevent dragging from highlighting the element */
  position: relative; }

.CodeMirror-sizer {
  position: relative;
  border-right: 30px solid transparent; }

/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actual scrolling happens, thus preventing shaking and
   flickering artifacts. */
.CodeMirror-vscrollbar, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  position: absolute;
  z-index: 6;
  display: none; }

.CodeMirror-vscrollbar {
  right: 0;
  top: 0;
  overflow-x: hidden;
  overflow-y: scroll; }

.CodeMirror-hscrollbar {
  bottom: 0;
  left: 0;
  overflow-y: hidden;
  overflow-x: scroll; }

.CodeMirror-scrollbar-filler {
  right: 0;
  bottom: 0; }

.CodeMirror-gutter-filler {
  left: 0;
  bottom: 0; }

.CodeMirror-gutters {
  position: absolute;
  left: 0;
  top: 0;
  min-height: 100%;
  z-index: 3; }

.CodeMirror-gutter {
  white-space: normal;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: -30px; }

.CodeMirror-gutter-wrapper {
  position: absolute;
  z-index: 4;
  background: none !important;
  border: none !important; }

.CodeMirror-gutter-background {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 4; }

.CodeMirror-gutter-elt {
  position: absolute;
  cursor: default;
  z-index: 4; }

.CodeMirror-gutter-wrapper ::-moz-selection {
  background-color: transparent; }

.CodeMirror-gutter-wrapper ::selection {
  background-color: transparent; }

.CodeMirror-gutter-wrapper ::-moz-selection {
  background-color: transparent; }

.CodeMirror-lines {
  cursor: text;
  min-height: 1px;
  /* prevents collapsing before first draw */ }

.CodeMirror pre {
  /* Reset some styles that the rest of the page might have set */
  border-radius: 0;
  border-width: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
  z-index: 2;
  position: relative;
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-variant-ligatures: contextual;
  font-variant-ligatures: contextual; }

.CodeMirror-wrap pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal; }

.CodeMirror-linebackground {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0; }

.CodeMirror-linewidget {
  position: relative;
  z-index: 2;
  padding: 0.1px;
  /* Force widget margins to stay inside of the container */ }

.CodeMirror-rtl pre {
  direction: rtl; }

.CodeMirror-code {
  outline: none; }

/* Force content-box sizing for the elements where we expect it */
.CodeMirror-scroll,
.CodeMirror-sizer,
.CodeMirror-gutter,
.CodeMirror-gutters,
.CodeMirror-linenumber {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; }

.CodeMirror-measure {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden; }

.CodeMirror-cursor {
  position: absolute;
  pointer-events: none; }

.CodeMirror-measure pre {
  position: static; }

div.CodeMirror-cursors {
  visibility: hidden;
  position: relative;
  z-index: 3; }

div.CodeMirror-dragcursors {
  visibility: visible; }

.CodeMirror-focused div.CodeMirror-cursors {
  visibility: visible; }

.CodeMirror-selected {
  background: #d9d9d9; }

.CodeMirror-focused .CodeMirror-selected {
  background: #d7d4f0; }

.CodeMirror-crosshair {
  cursor: crosshair; }

.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection {
  background: #d7d4f0; }

.CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection {
  background: #d7d4f0; }

.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection {
  background: #d7d4f0; }

.cm-searching {
  background-color: #ffa;
  background-color: rgba(255, 255, 0, 0.4); }

/* Used to force a border model for a node */
.cm-force-border {
  padding-right: .1px; }

@media print {
  /* Hide the cursor when printing */
  .CodeMirror div.CodeMirror-cursors {
    visibility: hidden; } }

/* See issue #2901 */
.cm-tab-wrap-hack:after {
  content: ''; }

/* Help users use markselection to safely style text background */
span.CodeMirror-selectedtext {
  background: none; }

/* neo theme for codemirror */
/* Color scheme */
.cm-s-neo.CodeMirror {
  background-color: #ffffff;
  color: #2e383c;
  line-height: 1.4375; }

.cm-s-neo .cm-comment {
  color: #75787b; }

.cm-s-neo .cm-keyword, .cm-s-neo .cm-property {
  color: #1d75b3; }

.cm-s-neo .cm-atom, .cm-s-neo .cm-number {
  color: #75438a; }

.cm-s-neo .cm-node, .cm-s-neo .cm-tag {
  color: #9c3328; }

.cm-s-neo .cm-string {
  color: #b35e14; }

.cm-s-neo .cm-variable, .cm-s-neo .cm-qualifier {
  color: #047d65; }

/* Editor styling */
.cm-s-neo pre {
  padding: 0; }

.cm-s-neo .CodeMirror-gutters {
  border: none;
  border-right: 10px solid transparent;
  background-color: transparent; }

.cm-s-neo .CodeMirror-linenumber {
  padding: 0;
  color: #e0e2e5; }

.cm-s-neo .CodeMirror-guttermarker {
  color: #1d75b3; }

.cm-s-neo .CodeMirror-guttermarker-subtle {
  color: #e0e2e5; }

.cm-s-neo .CodeMirror-cursor {
  width: auto;
  border: 0;
  background: rgba(155, 157, 162, 0.37);
  z-index: 1; }

html,
body {
  width: 469px;
  height: 348px;
  padding: 0;
  margin: 0;
  background-color: #FBFBFB;
  -webkit-font-smoothing: antialiased;
  font-family: "PingFangTC-Regular", "Heiti Regular", sans-serif;
  font-weight: 200; }

*::-moz-selection {
  background-color: rgba(208, 2, 27, 0.15); }

*::selection {
  background-color: rgba(208, 2, 27, 0.15); }

textarea,
input {
  background: #FFFFFF;
  border: 1px solid #DADADA;
  -webkit-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.09);
          box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.09);
  border-radius: 2px;
  outline: none;
  display: block;
  width: 100%;
  padding: 0 6px; }

textarea {
  padding: 4px 6px; }

input {
  height: 26px;
  font-size: 14px;
  font-weight: 200; }

label {
  font-size: 12px;
  font-weight: 700;
  color: #9B9B9B;
  text-shadow: 1px 1px 0 #FFFFFF; }

footer {
  position: absolute;
  bottom: 0;
  z-index: 10; }

.list,
.editor {
  position: absolute;
  display: block;
  background-color: #FBFBFB;
  top: 0;
  left: 0;
  width: 100%;
  height: 310px;
  padding: 15px; }

.list {
  margin: -10px; }

.script-item {
  width: 133px;
  height: 80px;
  margin: 10px;
  position: relative;
  display: inline-block;
  border: 1px dashed rgba(208, 2, 27, 0.5);
  border-radius: 3px;
  background: #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.25s;
  transition: 0.25s; }
  .script-item .script-title {
    width: 121px;
    position: absolute;
    pointer-events: none;
    color: #F5A623;
    font-size: 14px;
    line-height: 80px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
    padding: 0 5px; }
  .script-item .codeIcon {
    position: absolute;
    pointer-events: none;
    top: 7px;
    right: 8px; }
  .script-item .mask {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    opacity: 0;
    position: absolute;
    -webkit-transition: 0.25s;
    transition: 0.25s; }
    .script-item .mask .half {
      width: 50%;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      opacity: 0.35;
      position: absolute;
      cursor: pointer;
      -webkit-transition: 0.25s;
      transition: 0.25s; }
      .script-item .mask .half:nth-child(3) {
        margin-left: 50%; }
      .script-item .mask .half:hover {
        opacity: 1; }
    .script-item .mask .full {
      width: 100%;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      cursor: pointer; }
  .script-item .center-line {
    width: 1px;
    height: 59px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, rgba(208, 2, 27, 0.5)), color-stop(0%, transparent));
    background-image: linear-gradient(rgba(208, 2, 27, 0.5) 60%, transparent 0%);
    background-position: right;
    background-size: 1px 5px;
    background-repeat: repeat-y;
    position: absolute;
    left: 50%;
    top: 9px; }
  .script-item:hover {
    border: 1px solid rgba(208, 2, 27, 0.5);
    -webkit-box-shadow: 0 0 10px 0 rgba(208, 2, 27, 0.15);
            box-shadow: 0 0 10px 0 rgba(208, 2, 27, 0.15); }
    .script-item:hover .mask {
      opacity: 1; }

.input-title {
  width: 265px;
  height: 26px;
  margin-bottom: 10px;
  display: inline-block; }

.textarea-script {
  width: 439px;
  height: 244px; }
  .textarea-script .CodeMirror-vscrollbar,
  .textarea-script .CodeMirror-hscrollbar {
    outline: none; }
  .textarea-script .CodeMirror {
    height: 244px;
    border: 1px solid #DADADA;
    -webkit-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.09);
            box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.09);
    border-radius: 2px;
    padding: 0 6px; }
  .textarea-script .CodeMirror-focused .CodeMirror-selected,
  .textarea-script .CodeMirror-line::-moz-selection,
  .textarea-script .CodeMirror-line > span::-moz-selection,
  .textarea-script .CodeMirror-line > span > span::-moz-selection {
    background: rgba(208, 2, 27, 0.15) !important; }
  .textarea-script .CodeMirror-focused .CodeMirror-selected,
  .textarea-script .CodeMirror-line::selection,
  .textarea-script .CodeMirror-line > span::selection,
  .textarea-script .CodeMirror-line > span > span::selection {
    background: rgba(208, 2, 27, 0.15) !important; }

.btns {
  position: absolute;
  display: inline-block; }

button {
  margin-left: 10px;
  width: 77px;
  height: 26px;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  -webkit-transition: 0.25s;
  transition: 0.25s; }
  button.red {
    border: 1px solid #F32038;
    color: #F32038; }
    button.red:hover {
      background-color: #F32038;
      color: white; }
  button.gray {
    border: 1px solid #9B9B9B;
    color: #9B9B9B; }
    button.gray:hover {
      background-color: #9B9B9B;
      color: white; }

